html,
body {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(110deg, #6bfef9, #6beec1);
}

html a {
  text-decoration: none;
  color: #fff;
}

.container-fluid {
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 80%;
  margin: 10px auto;
  text-align: center;
  @media (max-width: 800px) {
    width: 100%;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3em;
  }
}
